# Data & Models
data/
*.jpg
*.pth
*.pt
*.h5
*.pkl

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env
.venv/

# Jupyter
.ipynb_checkpoints/
executed-main.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

computerVision/

# Exclure Dockerfile temporairement ou localement
Dockerfile